<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" href="../css/normalize.css" as="style">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Tilt+Warp&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="preload" href="../css/styles.css" as="style">
        <link href="../css/styles.css" rel="stylesheet">
        <title>Repositorio - Proyectos</title>
    </head>
    <body>
        <header>
            <h2 class="titulo">
                Diego Aguilera
                <span>Software Developer</span>
            </h2>
        </header>
        <div class="nav-background">
            <nav class="navegacion-principal contenedor">
                <a href="./index.html">Inicio</a>
                <a href="./sobre-mi.html">Sobre Mi</a>
                <a href="./proyectos.html">Proyectos</a>
                <a href="./contacto.html">Contacto</a>
            </nav>
        </div>
        <main class="contenedor sombra">
            <h1>Proyectos</h1>
            <div class="proyectos">
                <div class="proyecto">
                    <img class="img-proyecto" src="../img/fd-2022.JPG">
                    <h3>Fashion Dog</h3>
                    <p>
                        Sistema web para una perruqueria de la región de Antofagasta, Chile.
                        <br>
                        Los clientes pueden solicitar servicios a domicilio y dejar un respectivo comentario de satisfacción del servicio una vez haya
                        finalizado. Tambien los estilistas pueden realizar servicios a domicilio.<br> 
                        Por ultimo el sistema cuenta con una área de gestión dedicada al administrador de Fashion Dog.
                    </p>
                    <h3>Caracteristicas:</h3>
                    <ul>
                        <li>
                            Tipo de Aplicación:
                            <span>Web</span>
                        </li>
                        <li>
                            Framework:
                            <span>
                                Laravel
                            </li>
                            <li>
                                Base de datos:
                                <span>Sql</span>
                            </li>
                            <li>
                                Principal Lenguaje de programación:
                                <span>PHP</span>
                            </li>
                            <li>
                                Fecha de inicio:
                                <span>04/03/2021</span>
                            </li>
                            <li>
                                Fecha de termino:
                                <span>09/03/2021</span>
                            </li>
                        </ul>
                        <div class="repositorio">
                            <img
                            class="img-git" 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" 
                            alt="github-img"
                            height="40"
                            width="40"
                            >
                            <a 
                                class="btn-proyecto" 
                                href="https://github.com/diegoAguilera11/Project_Fashion_Dog"
                            >Repositorio</a>
                        </div>
                    </div>
                    <div class="proyecto">
                        <img class="img-proyecto" src="../img/fd-2022-2.JPG">
                        <h3>Restaurant APP</h3>
                        <p>
                            Sistema móvil para un restaurant de la region de Antofagasta, Chile.<br>
                            Los clientes deben seleccionar la mesa en la cual estan ubicados para luego
                            realizar su orden con los productos disponibles. Tambien desde la aplicación
                            el administrador puede gestionar los productos y categorias del restaurante.
                            Por ultimo el sistema cuenta con un
                            apartado web para gestionar los pedidos ingresados.
                        </p>
                        <h3>Características:</h3>
                        <ul>
                            <li>
                                Tipo de Aplicación:
                                <span>Móvil</span>
                            </li>
                            <li>
                                Libreria:
                                <span>React Native</span>
                            </li>
                            <li>
                                Rest Api:
                                <span>Laravel</span>
                            </li>
                            <li>
                                Base de datos:
                                <span>Sql</span>
                            </li>
                            <li>
                                Principal Lenguaje de Programación:
                                <span>JavaScript y PHP</span>
                            </li>
                            <li>
                                Fecha de inicio:
                                <span>10/04/2022</span>
                            </li>
                            <li>
                                Fecha de termino:
                                <span>05/12/2022</span>
                            </li>
                        </ul>
                        <div class="repositorio">
                            
                            <img
                                class="img-git" 
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" 
                                alt="github-img"
                                height="40"
                                width="40"
                            >
                            <a 
                                class="btn-proyecto" 
                                href="https://github.com/diegoAguilera11/Project_Fashion_Dog"
                            >Repositorio</a>
                        </div>
                    </div>
                </main>
                <footer class="footer">
                    <p>
                        Todos los derechos reservados. Diego Aguilera Software Developer
                    </p>
                </footer>
            </body>
        </html>
