<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Repositorio - Sobre Mi</title>
        <link rel="preload" href="../css/normalize.css" as="style">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Tilt+Warp&display=swap" rel="stylesheet">
        <link rel="preload" href="../css/styles.css" as="style">
        <link href="../css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h2 class="titulo">
                Diego Aguilera
                <span>Software Developer</span>
            </h2>
        </header>
        <div class="nav-background">
            <nav class="navegacion-principal contenedor">
                <a href="./index.html">Inicio</a>
                <a href="./sobre-mi.html">Sobre Mi</a>
                <a href="./proyectos.html">Proyectos</a>
                <a href="./contacto.html">Contacto</a>
            </nav>
        </div>
        <main class="contenedor sombra">
            <div class="datos">
                <div class="informacion">
                    <h1>Hola, soy Diego</h1>
                    <p class="dev">Software Developer</p>
                    <div class="redes-sociales">
                        <a class="exam" href="https://github.com/diegoAguilera11?tab=repositories">
                            <img class="social" src="../img/github.png" alt="github-icon">
                        </a>
                        <a href="#">
                            <img class="social" src="../img/linkedin.png" alt="linkedin.icon">
                        </a>
                    </div>
                    <p class="descripcion-portafolio">
                        Un código limpio y una eficiencia sin igual
                        <br>
                        con las tecnologias más modernas.
                        <br>
                        Priorizo siempre la comunicaión con el cliente.
                    </p>
                    <ul>
                        <li>Profesión:
                            <span>Ingeniero en Computación e Informática</span>
                        </li>
                        <li>Edad: <span>21</span></li>
                        <li>Fecha de nacimiento: <span>2 Nov, 2001</span></li>
                        <li>Nacionalidad: <span>Chilena</span></li> 
                    </ul>
                </div>
                <img class="img-perfil" src="../img/perfil.png" alt="perfil-img">
            </div>
        </main>
        <footer class="footer">
            <p>
                Todos los derechos reservados. Diego Aguilera Software Developer
            </p>
        </footer>
    </body>
</html>
